<!-- Card stats -->
<!-- <div class="row"> -->
<div class="col-xl-4 col-lg-6">
  <div class="card card-stats m-3 mb-4 mb-xl-0">
    <div class="card-body">
      <div class="row">
        <!-- <div class="col"> -->
        <h5 class="card-title text-uppercase text-dark text-center mb-0">Functionalities</h5>
        <button type="submit" class="btn btn-lg btn-primary btn-block btn-space mt-3">Affirmative Sentences</button>
        <button type="submit" class="btn btn-lg btn-primary btn-block btn-space">Quantitative Sentences</button>
        <button type="submit" class="btn btn-lg btn-primary btn-block btn-space">People Detection</button>
        <button type="submit" class="btn btn-lg btn-primary btn-block btn-space">Places Detection</button>
        <button type="submit" class="btn btn-lg btn-primary btn-block btn-space">Highlight Terms</button>
        <button type="submit" class="btn btn-lg btn-primary btn-block btn-space">Infographic Detection</button>
        <button type="submit" class="btn btn-lg btn-primary btn-block btn-space">Language Detection</button>
        <button type="submit" class="btn btn-lg btn-primary btn-block btn-space">Places Detection</button>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->